html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    height: 100%;
}



.card img {
    margin-left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.card1 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 231px;
}

.card2 {
    width: 370px;
    height: 400px;
    padding: 5px;
}

.welcome {
    font-size: 24px;
    margin: 0px;
}

p {
    margin: 5px;
}

.mail {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 40px;
    font-weight: 14px;
}

.input {
    width: 360px;
    height: 22px;
    border-radius: 6px;
    margin: 0;
    padding-left: 10px;
    background-color: #777e902c;
    border: none;
    color: #777E90;
}

.pack {
    margin-top: 20px;
}

.password {
    width: 360px;
    height: 22px;
    border-radius: 6px;
    margin: 0;
    padding-left: 10px;
    background-color: #777e9034;
    border: none;
    color: #777E90;
}

.forgot {
    text-decoration: none;
    font-size: 11px;
    display: flex;
    justify-content: flex-end;
    color: #FF0000;
}

.button {
    background-color: #FF0000;
    color: white;
    width: 365px;
    height: 35px;
    margin-top: 20px;
    border-radius: 18px;
    border: none;
}

.account {
    font-size: 10px;
    width: 365px;
    height: 28px;
    text-align: center;
    margin-top: 20px;
}

.images {
    display: flex;
    justify-content: center;
}

.photo {
    position: relative;
    top: 350px;
    right: 300px;
    border-radius: 50%;
}

.photo1 {

    position: relative;
    top: 350px;
    right: 200px;
    border-radius: 50%;
}

.photo2 {

    position: relative;
    top: 350px;
    right: 120px;
    border-radius: 50%;
    border-top-right-radius: 0px;
}

span {
    color: black;
}

.sign {
    padding-top: 100px;
    text-align: center;
}