html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    border-radius: 50px;
}

.card {
    width: 450px;
    height: 450px;
    background-color: #FDFDFD;
    border-radius: 24px;
    margin: 20px;
}

.h1 {
    width: 450px;
    height: 80px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
}

.google {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    background-color: rgba(128, 128, 128, 0.178);
    margin: 10px;
}

.apple {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    background-color: rgba(128, 128, 128, 0.178);
    margin: 10px;
}

.slack {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    background-color: rgba(128, 128, 128, 0.178);
    margin: 10px;
}

.slack {
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    background-color: rgba(128, 128, 128, 0.178);
    margin: 10px;
}

.email {
    width: 450px;
    height: 50px;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    border-radius: 24px;
    background-color: rgba(128, 128, 128, 0.178);
    margin: 10px;
}

.continue {
    width: 450px;
    height: 50px;
    background-color: blue;
    color: #FDFDFD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: none;
    margin: 10px;
    font-size: 20px;
}

.product {
    width: 400px;
    height: 70px;
    font-size: 20px;
    border-radius: 10px;
    
    background-color: rgba(128, 128, 128, 0.178);
}

.agree {
    display: flex;
    justify-content: center;

}