body {
    background-color: #d7f1f1;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}



header {
    width: 100%;
    height: 95px;
}

header img {
    position: relative;
    top: 26px;
    left: 39px;
}

.card {
    width: 500px;
    height: 687px;
    border-radius: 24px;
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 0;
}

.account {
    width: 420px;
    height: 85px;

}

h1 {
    width: 420px;
    height: 85px;
    font-size: 26px;
    font-weight: 420px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.demo {
    display: flex;
    justify-content: center;

}

.google {
    width: 420px;
    height: 44px;
    background-color: #686f7d1a;
    border-radius: 50px;
    border: none;
    font: #686F7D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    font-size: 14px;
    row-gap: 5px;
    margin: 10px;
}

img {
    display: flex;
    justify-content: center;
}

.hr {
    padding-right: 5px;
    width: 420px;
    display: flex;
    justify-content: center;
}

input {
    margin-top: 20px;
    width: 420px;
    height: 42px;
    border: 1px solid#686f7d3a;
    padding-left: 20px;
    border-radius: 50px;
    font-size: 13px;
}

.btn {
    margin-top: 20px;
    width: 420px;
    height: 42px;
    background-color: #1668E3;
    color: #FDFDFD;
    padding-left: 20px;
    border: none;
    border-radius: 50px
}

.agree {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

span {
    text-decoration: solid;
}

.produck {
    width: 420px;
    height: 150px;
    display: flex;
}

.help {
    width: 226px;
    height: 90px;
    font-size: 14px;
    font-weight: #5E646E;
    padding-top: 20px;
}

.img {
    position: relative;
    left: 270px;
    bottom: 70px;
}

.join {
    font-weight: bold;
    
}