html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    .row1{
        width: 100px;
        height: 120px;
        background-color: aqua;
    }
}
    
    .container2{
        display:flex;
        flex-wrap: wrap;
        justify-content:right;
     
       
        .row2{
            width: 150px;
            height: 140px;
            background-color: beige;
            justify-content: center;

        }
    }
    .container3{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;

        .row3{
            width: 250px;
            height: 160px;
            background-color: blueviolet;

        }
    }
