header {
    background: #6a5acd;
    color: white;
    padding: 20px;
    text-align: center;
}

.card-title {
    color: #6a5acd;
}

.btn-buy {
    background: #6a5acd;
    color: white;
}

.btn-buy:hover {
    background: #5949b3;
}

.search-bar {
    width: 450px;
    border-radius: 20px;
    padding: 8px 15px;
}