html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.box {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.violet {
    width: 70%;
    background-color: blueviolet;
}

.violet2 {
    width: 30%;
    background-color: violet;
}

.red {
    width: 100%;
    background-color: red;

}

.orange1 {
    background: orangered;
    width: 25%;

}

.orange2 {
    background-color: orange;
    width: 25%;

}

.orange3 {
    background-color: rebeccapurple;
    width: 25%;

}

.orange4 {
    background-color: blue;
    width: 25%;

}

h1 {
    font-size: larger;
    color: whitesmoke;
    font-weight: bold;
}